/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color:blue;
  background: linear-gradient(to right,  #9c9e9f 0%,#9c9e9f 50%,#33ccff 50%,#33ccff 100%);
  font-size: 70%;

}

body {
  color: black;
  background-color: rgb(188, 178,168)
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-10%, -50%);
  perspective: 1000px;
  -ms-transform: skewY(4deg); /* IE 9 */
  -webkit-transform: skewY(4deg); /* Safari 3-8 */
  transform: skewY(4deg);
}

.hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}

.hover-image {
  visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  visibility: visible;
  pointer-events: none;
}

.hover-image {
  display: flex;
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
max-height:500px;

/* Change width and height to scale images */
  width: 90vw;
  height: 90vh;
}

.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
}