<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://github.com/eluwasi/eleventy-netlify-boilerplate/blob/master/_includes/custom.css">
  <title>https eluwasi dot com</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <style>/* Container holding the image and the text */
.container {
  position: relative;
  text-align: left;
  color:green;
  font-size: 80%;

}

body {
  color: black;
  background-color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

#img1 {display:block;}
#img2 {display:none}

@media all and (max-width: 499px) {
    #img1 {display: none;}
    #img2 {display: block;}

  .centered {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 80px;
  transform: translate(-10%, -50%);
  perspective: 1000px;
  -ms-transform: skewY(4deg); /* IE 9 */
  -webkit-transform: skewY(4deg); /* Safari 3-8 */
  transform: skewY(4deg);
}
.container {
  position: relative;
  text-align: left;
  color:blue;
  font-size: 45%;

}
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-10%, -50%);
  perspective: 1000px;
  -ms-transform: skewY(4deg); /* IE 9 */
  -webkit-transform: skewY(4deg); /* Safari 3-8 */
  transform: skewY(4deg);
}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
    <script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
</head>
