<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
		<div class="container">
          <img src="../../static/img/1000dp.jpg" alt="myverycutecomp" style="width:100%;">
          <div class="bottom-left">Bottom Left</div>
          <div class="top-left">work</div>
          <div class="top-right"> cv</div>
          <div class="bottom-right">contact</div>
          <div class="centered" id="app"></div>
          
        </div>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
