<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
		<div class="container">
          <img src="https://s0.2mdn.net/9597227/300x250_Ivanka_60kb.jpg" alt="myverycutecomp" style="width:100%;">
          <div class="bottom-left">Bottom Left</div>
          <div class="top-left">work</div>
          <div class="top-right"> cv</div>
          <div class="bottom-right">contact</div>
          <div class="centered" id="app"></div>
          <iframe
          id="JotFormIFrame-91986837667380"
          title="Responsive Layout -  General Inquiry Contact Form"
          onload="window.parent.scrollTo(0,0)"
          allowtransparency="true"
          allowfullscreen="true"
          allow="geolocation; microphone; camera"
          src="https://form.jotformeu.com/91986837667380"
          frameborder="0"
          style="width: 1px;
          min-width: 100%;
          height:539px;
          border:none;"
          scrolling="no"
          >
          </iframe>
        </div>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
