<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
		<div class="container">
          <img id="img1" src="../../static/img/100dp.png" alt="myverycutecomp" style="width:60%;">
		 <img id="img2" src="../../static/img/100dpm.png" alt="myverycutecomp" style="width:100%;">

          <div class="bottom-left">Bottom Left</div>
          <div class="top-left">work</div>
          <div class="top-right"> cv</div>
          <div class="bottom-right">contact</div>
          <div class="centered" id="app"></div>
          
        </div>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>
<script>
var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('Hello! Welcome to my cool website')
    .pauseFor(2500)
    .deleteAll()
    .typeString("Line 1" + '\n'+ "Line 2")
    .typeString('2I am Valentine /n \n')
    .typeString('3I am Valentine')
    .pauseFor(2500)
    .deleteChars(12)
    .typeString('<strong>like technology art & clothes!</strong>')
    .pauseFor(2500)
    .start();</script>
</html>

