<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
		<div class="container">
    <video id="img1" width="90%" style="width:100%;" autoplay loop muted playsinline>
  <source id="img1" src="../../static/img/retro.mp4" type="video/mp4" />
</video>
       
		 <img id="img2" src="../../static/img/100dpm.png" alt="myverycutecomp" style="width:100%;">

          <div class="bottom-left"><a href="/blog">thoughts</a></div>
          <div class="top-left"><a href="/about">work</a></div>
          <div class="top-right"> <a href="/services">cv</a></div>
          <div class="bottom-right"><a href="/contact">contact</a></div>
          <div class="centered-desktop" id="app"></div>
          <div class="centered" id="app"></div>
          
        </div>
			<em>
				
			</em>
			
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>
    <script type="text/javascript">
    	
  // jQuery is required to run this code
  $( document ).ready(function() {
    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
      scaleVideoContainer();
      scaleBannerVideoSize('.video-container .poster img');
      scaleBannerVideoSize('.video-container .filter');
      scaleBannerVideoSize('.video-container video');
    });
  });

  function scaleVideoContainer() {
    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);
  }

  function initBannerVideoSize(element){
    $(element).each(function(){
      $(this).data('height', $(this).height());
      $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);
  }

  function scaleBannerVideoSize(element) {

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    // console.log(windowHeight);

    $(element).each(function(){
      var videoAspectRatio = $(this).data('height')/$(this).data('width');

      $(this).width(windowWidth);

      if(windowWidth < 1000){
          videoHeight = windowHeight;
          videoWidth = videoHeight / videoAspectRatio;
          $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

          $(this).width(videoWidth).height(videoHeight);
      }

      $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
  }

    </script>
<script>
var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('<strong>hello❗ welcome to my 🆒 website 🌐')
    .pauseFor(2500)
    .deleteAll()
    .typeString('<strong>i am valentine eluwasi &#128512 😎 😎')
	.deleteAll()
    .typeString('<strong>i live 🏡 and work 👨🏾‍💻 in london 🇬🇧')
    .pauseFor(1500)
    .deleteAll()
    .typeString('<strong>i like to make digital 🤳🏾 experiences')
    .pauseFor(1500)
    .deleteAll()
    .typeString('<strong> sometimes physical 📵 ones too')
    .pauseFor(100)
    .deleteAll()
    .typeString('<strong>see some of my work 👨🏾‍💻  over there ↖')
    .pauseFor(100)
    .deleteAll()
    .typeString('<strong>if you want to say hi drop 📩 me a line over there ↘')
    .pauseFor(500)
    .deleteAll()
    .typeString('<strong>and if you care about what i think 🧐 ready my thoughts 🤯 over here ↙')
    .pauseFor(100)
    .deleteAll()
    .typeString('enjoy! ❤🧡💛💚💙 ')
    .start();</script>

<script>
var app = document.getElementById('app2');

var typewriter = new Typewriter(app2, {
    loop: true
});

typewriter.typeString('<strong>hello❗ welcome to my 🆒 website 🌐')
    .pauseFor(2500)
    .deleteAll()
    .typeString('<strong>i am valentine eluwasi &#128512 😎 😎')
	.deleteAll()
    .typeString('<strong>i live 🏡 and work 👨🏾‍💻 in london 🇬🇧')
    .pauseFor(1500)
    .deleteAll()
    .typeString('<strong>i like to make digital 🤳🏾 experiences')
    .pauseFor(1500)
    .deleteChars(27)
    .typeString('<strong> sometimes physical 📵 ones too')
    .pauseFor(500)
    .deleteAll()
    .typeString('<strong>see some of my work 👨🏾‍💻  over there ↖')
    .pauseFor(500)
    .deleteAll()
    .typeString('<strong>if you want to say hi drop 📩 me a line over there ↘')
    .pauseFor(500)
    .deleteAll()
    .typeString('<strong>and if you care about what i think 🧐 read my thoughts 🤯 over here ↙')
    .pauseFor(500)
    .deleteAll()
    .typeString('enjoy! ❤🧡💛💚💙 ')
    .start();</script>

</html>

